In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
df = pd.read_csv('./totalmilk.csv')

In [8]:
df.head()

,State/Union Territory,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,Andaman and Nicobar Islands,24,20,23,24,26,24,25,26,21,14,16,15,16,17,18,19
1,Andhra Pradesh#,7257,7624,7938,8925,9570,10429,11203,12088,12762,13007,9656,10817,12178,13725,15044,15263
2,Arunachal Pradesh,48,48,49,32,24,26,28,22,23,43,46,50,53,54,55,61
3,Assam,739,747,750,752,753,756,790,796,800,815,829,843,861,872,882,920
4,Bihar,4743,5060,5451,5783,5934,6124,6517,6643,6845,7197,7775,8288,8711,9242,9818,10480

In [9]:
df.describe()

             2014-15        2015-16        2016-17        2017-18
count      37.000000      37.000000      37.000000      37.000000
mean     7908.810811    8404.810811    8940.729730    9532.351351
std     24058.333447   25570.813509   27216.753235   29016.913601
min         1.000000       1.000000       1.000000       1.000000
25%        67.000000      67.000000      54.000000      59.000000
50%      1565.000000    1656.000000    1692.000000    1742.000000
75%      7775.000000    8288.000000    8711.000000    9242.000000
max    146314.000000  155491.000000  165404.000000  176347.000000

In [10]:
df

,State/Union Territory,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,Andaman and Nicobar Islands,24,20,23,24,26,24,25,26,21,14,16,15,16,17,18,19
1,Andhra Pradesh#,7257,7624,7938,8925,9570,10429,11203,12088,12762,13007,9656,10817,12178,13725,15044,15263
2,Arunachal Pradesh,48,48,49,32,24,26,28,22,23,43,46,50,53,54,55,61
3,Assam,739,747,750,752,753,756,790,796,800,815,829,843,861,872,882,920
4,Bihar,4743,5060,5451,5783,5934,6124,6517,6643,6845,7197,7775,8288,8711,9242,9818,10480
5,Chandigarh,43,46,46,47,47,46,45,45,44,44,44,43,36,42,45,49
6,Chhattisgarh,831,839,849,866,908,956,1029,1119,1164,1209,1232,1277,1374,1469,1567,1676
7,Dadra & Nagar Haveli,4,5,5,10,10,10,11,11,11,11,9,9,8,8,-,-
8,Daman & Diu,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9,Delhi,303,310,288,445,450,466,480,502,287,284,280,281,279,279,-,-
10,Goa,57,56,57,58,59,59,60,60,61,68,67,54,51,55,57,61
11,Gujarat,6745,6960,7533,7911,8386,8844,9321,9817,10315,11112,11691,12262,12784,13569,14493,15292
12,Haryana,5222,5299,5366,5442,5745,6006,6267,6661,7040,7442,7901,8381,8975,9809,10726,11735
13,Himachal Pradesh,870,869,933,1007,1026,971,1102,1120,1139,1151,1172,1283,1329,1392,1460,1531
14,Jammu and Kashmir,1422,1400,1400,1519,1565,1592,1609,1614,1631,1615,1951,2273,2376,2460,2540,2506
15,Jharkhand,1330,1335,1401,1442,1466,1463,1555,1745,1679,1700,1734,1812,1894,2016,2183,2321
16,Karnataka,3917,4022,4124,4244,4538,4822,5114,5447,5718,5997,6121,6344,6562,7137,7901,9031
17,Kerala,2025,2063,2119,2253,2441,2509,2645,2716,2791,2655,2711,2650,2520,2576,2548,2544
18,Lakshadweep,1,2,2,2,2,2,2,2,2,6,4,3,3,4,4,4
19,Madhya Pradesh,5506,6283,6374,6572,6855,7167,7514,8149,8838,9599,10779,12148,13445,14713,15911,17109
20,Maharashtra,6567,6769,6978,7210,7455,7679,8044,8469,8734,9089,9542,10153,10402,11102,11655,12024
21,Manipur,75,77,77,78,78,78,78,79,80,82,82,79,79,82,86,90
22,Meghalaya,71,73,74,77,77,78,79,80,81,82,83,84,84,85,87,88
23,Mizoram,16,15,16,17,17,11,11,14,14,15,20,22,24,25,26,24
24,Nagaland,69,74,67,45,53,78,76,78,79,81,76,77,79,74,73,62
25,Odisha,1283,1342,1431,1625,1598,1651,1671,1721,1724,1861,1903,1930,2003,2088,2311,2370
26,Puducherry,41,43,45,47,46,46,47,45,47,47,48,48,48,49,49,50
27,Punjab,8554,8909,9168,9282,9387,9389,9423,9551,9724,10011,10351,10774,11282,11855,12599,13348
28,Rajasthan,8310,8713,10309,11377,11931,12331,13234,13512,13946,14573,16934,18500,20850,22427,23668,25573
29,Sikkim,46,48,49,42,42,44,43,45,42,46,50,67,54,59,61,84
30,Tamil Nadu,4784,5474,6277,6540,6651,6787,6831,6968,7005,7049,7132,7244,7556,7742,8362,8759
31,Telangana,-,-,-,-,-,-,-,-,-,-,4207,4442,4681,4965,5416,5590
32,Tripura,86,87,89,91,96,100,104,111,118,130,141,152,160,174,185,199
33,Uttar Pradesh,16512,17356,18094,18861,19537,20203,21031,22556,23330,24194,25198,26387,27770,29052,30519,31864
34,Uttarakhand,1195,1206,1213,1221,1230,1377,1383,1417,1478,1550,1565,1656,1692,1742,1792,1845
35,West Bengal,3790,3891,3983,4087,4176,4300,4471,4672,4859,4906,4961,5038,5183,5389,5607,5869
36,ALL INDIA,92484,97066,102580,107934,112183,116425,121848,127904,132431,137686,146314,155491,165404,176347,187749,198440

In [11]:
dfx = df.sum(axis=1)

In [12]:
df.insert(3,"sum",dfx,True)

In [13]:
df

,State/Union Territory,2004-05,2005-06,sum,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,Andaman and Nicobar Islands,24,20,64,23,24,26,24,25,26,21,14,16,15,16,17,18,19
1,Andhra Pradesh#,7257,7624,46376,7938,8925,9570,10429,11203,12088,12762,13007,9656,10817,12178,13725,15044,15263
2,Arunachal Pradesh,48,48,203,49,32,24,26,28,22,23,43,46,50,53,54,55,61
3,Assam,739,747,3405,750,752,753,756,790,796,800,815,829,843,861,872,882,920
4,Bihar,4743,5060,34016,5451,5783,5934,6124,6517,6643,6845,7197,7775,8288,8711,9242,9818,10480
5,Chandigarh,43,46,165,46,47,47,46,45,45,44,44,44,43,36,42,45,49
6,Chhattisgarh,831,839,5352,849,866,908,956,1029,1119,1164,1209,1232,1277,1374,1469,1567,1676
7,Dadra & Nagar Haveli,4,5,34,5,10,10,10,11,11,11,11,9,9,8,8,-,-
8,Daman & Diu,1,1,4,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9,Delhi,303,310,1119,288,445,450,466,480,502,287,284,280,281,279,279,-,-
10,Goa,57,56,227,57,58,59,59,60,60,61,68,67,54,51,55,57,61
11,Gujarat,6745,6960,50306,7533,7911,8386,8844,9321,9817,10315,11112,11691,12262,12784,13569,14493,15292
12,Haryana,5222,5299,35066,5366,5442,5745,6006,6267,6661,7040,7442,7901,8381,8975,9809,10726,11735
13,Himachal Pradesh,870,869,5176,933,1007,1026,971,1102,1120,1139,1151,1172,1283,1329,1392,1460,1531
14,Jammu and Kashmir,1422,1400,9060,1400,1519,1565,1592,1609,1614,1631,1615,1951,2273,2376,2460,2540,2506
15,Jharkhand,1330,1335,7456,1401,1442,1466,1463,1555,1745,1679,1700,1734,1812,1894,2016,2183,2321
16,Karnataka,3917,4022,26164,4124,4244,4538,4822,5114,5447,5718,5997,6121,6344,6562,7137,7901,9031
17,Kerala,2025,2063,10457,2119,2253,2441,2509,2645,2716,2791,2655,2711,2650,2520,2576,2548,2544
18,Lakshadweep,1,2,14,2,2,2,2,2,2,2,6,4,3,3,4,4,4
19,Madhya Pradesh,5506,6283,51085,6374,6572,6855,7167,7514,8149,8838,9599,10779,12148,13445,14713,15911,17109
20,Maharashtra,6567,6769,41199,6978,7210,7455,7679,8044,8469,8734,9089,9542,10153,10402,11102,11655,12024
21,Manipur,75,77,322,77,78,78,78,78,79,80,82,82,79,79,82,86,90
22,Meghalaya,71,73,336,74,77,77,78,79,80,81,82,83,84,84,85,87,88
23,Mizoram,16,15,91,16,17,17,11,11,14,14,15,20,22,24,25,26,24
24,Nagaland,69,74,306,67,45,53,78,76,78,79,81,76,77,79,74,73,62
25,Odisha,1283,1342,7924,1431,1625,1598,1651,1671,1721,1724,1861,1903,1930,2003,2088,2311,2370
26,Puducherry,41,43,193,45,47,46,46,47,45,47,47,48,48,48,49,49,50
27,Punjab,8554,8909,44262,9168,9282,9387,9389,9423,9551,9724,10011,10351,10774,11282,11855,12599,13348
28,Rajasthan,8310,8713,78711,10309,11377,11931,12331,13234,13512,13946,14573,16934,18500,20850,22427,23668,25573
29,Sikkim,46,48,230,49,42,42,44,43,45,42,46,50,67,54,59,61,84
30,Tamil Nadu,4784,5474,29674,6277,6540,6651,6787,6831,6968,7005,7049,7132,7244,7556,7742,8362,8759
31,Telangana,-,-,18295,-,-,-,-,-,-,-,-,4207,4442,4681,4965,5416,5590
32,Tripura,86,87,627,89,91,96,100,104,111,118,130,141,152,160,174,185,199
33,Uttar Pradesh,16512,17356,108407,18094,18861,19537,20203,21031,22556,23330,24194,25198,26387,27770,29052,30519,31864
34,Uttarakhand,1195,1206,6655,1213,1221,1230,1377,1383,1417,1478,1550,1565,1656,1692,1742,1792,1845
35,West Bengal,3790,3891,20571,3983,4087,4176,4300,4471,4672,4859,4906,4961,5038,5183,5389,5607,5869
36,ALL INDIA,92484,97066,643556,102580,107934,112183,116425,121848,127904,132431,137686,146314,155491,165404,176347,187749,198440